<html>
<head>
    <title>
        <%- title %>
    </title>
    <link rel="manifest" href="manifest.json">
    <script src="dist/index.js"></script>
</head>
<body>
<h1>ConnecTouch Signage</h1>
<div id="root"/>
</body>
</html>