<html>
<head>
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="antd.min.css">
    <script src="dist/index.js"></script>
</head>
<body>
    <h1>ConnecTouch Signage</h1>
        <div id="root"/>
    </body>
</html>