<html>
<head>
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="antd.min.css">
    <link rel="manifest" href="manifest.json">
    <script src="dist/index.js"></script>
</head>
    <body>
        <div id="root"/>
    </body>
</html>